@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

.xquestions{
  .container{
    display: relative;    
    justify-content: center;
    align-items: flex-start;
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    border-bottom: thin gray dotted;
    padding-bottom: 2em;
  }
  .col{
    display: flex;
    flex-direction: column;    
    flex: 1 1 auto;
  }
  .col1{
    @extend .col;
    flex-grow: 2
  }

  .item1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 350px;
  }
  .item2{
    width: 50px;
  }
  .item3{
    width: 150px;
  }
  .item4{
    width: 150px;
  }
  .item5{
    width: 50px;
  }
}

.xxquestions{
  .container{
    display: block;
  }

  .item{
    width:20%;    
  }
  .item1{
    @extend .item;
  }
  .item2{
    @extend .item;
  }
  .item3{
    @extend .item;
  }
  .item4{
    @extend .item;
  }
  .item5{
    @extend .item;
  }
}

.parent{
  zbackground-color: khaki;
  width:100%;
}

.questions{
  zbackground-color: khaki;
  display: block;
  width: 100%;

  .section {
    margin-bottom: 10px;
    h3 {
      font-weight: bold;
    }
    .highlight{
      font-weight: bold;
    }
  }
  // background-color: orange;
  .container{
    margin-left: 20px;
    display: grid;
    // grid-template-columns: 150px 50px 150px 150px 50px;
    // desc value response comments uploadDoc
    grid-template-columns: 30% 10% 25% 25% 10%;
    // grid-template-rows: repeat(auto-fill, 100%);
    // grid-template-rows: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    // align-items: start;
    // justify-items: start;
  }
  input, select, textarea {
    max-width: 100%;
    width: 100%;
  }
  .itemall{
    grid-column-start: 1;
    grid-column-end: 5;;
  }
  .item {
    zbackground-color: #444;
    zcolor: #fff;
    zborder-radius: 5px;
    zpadding: 20px;
  }
  .item1{
    grid-column-start: 1; // title
    // background-color: aqua;
  }
  .item2{
    grid-column-start: 2; // value
    // background-color: aqua;
  }
  .item3{
    grid-column-start: 3; // response
  }
  .item4{
    grid-column-start: 4; // comments
  }
  .item5{
    grid-column-start: 5; // file
  }
}

.helloWorld {
  background-color: gray;
  .container {
    zmax-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
